@media only screen and (min-width: 1px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 24px; */
  }

  #intro {
    margin: 100px 15px 0px 15px;
  }

  #email {
    padding: 100px;
    text-align: center;
  }

  #thankful {
    padding: 0px 15px 16px 0px;
    text-align: left;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    font-weight: 400;
    line-height: 22px;
  }

  /* .contactbackground {
      background-color: #eeeeee;
      height: 100vh;
    } */
}

@media only screen and (min-width: 550px) {
  .contact-container {
    border-radius: 5px;
    font-family: sans-serif;
    max-width: 500px;
    margin: auto;
  }
  .buttons {
    max-width: 500px;
  }
}

@media only screen and (min-width: 768px) {
  #intro {
    margin: 50px 60px 0px 60px;
    text-align: center;
  }

  .buttons {
    padding: 8px 8px;
  }

  .button:hover {
    text-align: center;
    background-color: #3c7e54;
    cursor: pointer;
  }

  #thankful {
    text-align: center;
    font-size: 16px;
    margin-top: 32px;
  }

  /* .contactbackground {
      background-color: #eeeeee;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    } */

  .contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: sans-serif;
    max-width: 500px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* update above to padding? */
  }
}
