.content {
  width: 33.33%;
  /* border: 1px solid blue; */
  margin: 10px;
}

.content > img {
  width: auto;
  height: auto;
}

.content > img:hover {
  background-color: #000;
  opacity: 0.7;
  transition: ease-in-out 0.2s;
}

.overlay {
  visibility: hidden;
}

/* s */

/* @media (max-width: 767px) {
  .content {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .content {
    width: 100%;
  }
} */
