.tabs {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-variant: none;
}

.gallery {
  /* width: 1000px; */
  /* display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; */
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  column-width: 33%;
  /* padding: 0 12px; */
  margin: 12px;
}

@media (max-width: 768px) {
  .gallery {
    /* max-width: 50%; */
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 650px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
