.navBar_items {
  background: grey;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar_logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}
