html {
  height: 100%;
}

body {
  /* margin: 0; */
  font-family: "Sora", Arial, Helvetica, sans-serif;

  min-height: 100%;
  display: flex;

  flex-direction: column;
}

footer {
  margin-top: auto;
}
