* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Sora", Arial, Helvetica, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


footer {
  margin-top: auto;
}


