@media (min-width: 1px) {
  .pageTitle {
    margin: 60px 16px 0 16px;
  }
  .pageDescription {
    margin: 0px 16px 16px 16px;
  }
}

@media (min-width: 500px) {
  .pageTitle {
    margin: 60px 32px 0px 32px;
  }
  .pageDescription {
    margin: 0 32px 16px 32px;
  }
}

@media (min-width: 768px) {
  .pageTitle {
    text-align: center;
  }
  .pageDescription {
    text-align: center;
    width: 600px;
    margin: 0 auto;
  }
}
